html {
    height: 100%;
  }
body{
    /* background:url(../image/lake.jpg) no-repeat; */
    height:100%;
    background-size:cover;
   background-attachment:fixed;
   display:flex;
   display: -webkit-flex;
   flex-direction: column;
   -webkit-flex-direction: column; 

}
.content{
   height:90%;
   
}
.title1{
     text-align:center;
     margin-top:50px;
     font-size:28px;
    }

    

.footer{
    flex:1;
    text-align:center;
    height:50px;
}